<% layout("layouts/boilerplate")%>
<h1>Welcome Home <%= `Dada ${name} ` %></h1>
<p>
  ejs Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias natus a
  similique facere voluptatum ullam, quo expedita quis iure nobis eveniet
  facilis veniam adipisci ab esse ipsa dicta sint quasi?
</p>
<p>
  Ut quisquam natus tempore eius corporis iusto repudiandae. Earum molestias cum
  veritatis dolore, deleniti temporibus animi voluptatum officiis aliquam magnam
  eveniet aperiam pariatur fugiat nisi ipsa nobis nulla aspernatur maiores.
</p>
<p>
  Maiores illum quasi ut amet culpa. Cupiditate a cum ipsum quam et nihil esse,
  tenetur eaque molestias. Ipsam, enim praesentium. Amet illo voluptatibus cum
  et quis cumque suscipit totam illum!
</p>
<p>
  Aperiam beatae, qui minima ea dolore quis. Exercitationem, suscipit culpa?
  Asperiores dolor omnis quia deleniti, officia nobis maxime ab deserunt eius
  temporibus? Distinctio corporis quasi minus, necessitatibus illo voluptate
  laudantium.
</p>
